name: CI

on:
  push:
    branches:
      - main
      - stable/*
  pull_request:

env:
  FORCE_COLOR: "1" # Make tools pretty.
  TOX_TESTENV_PASSENV: FORCE_COLOR
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"
  COVERAGE_CORE: sysmon # Only supported on Python 3.12+, ignore on older versions
  PYTHON_LATEST: "3.13"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_LATEST }}
      - uses: pre-commit/action@v3.0.1
  test:
    # There is an an issue with Wand / ImageMagick using the Ubuntu 24.04 image
    # See https://github.com/wagtail/Willow/issues/161
    runs-on: ubuntu-22.04
    needs: lint
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Install optimizers
        run: |
          sudo apt-get install -y jpegoptim pngquant gifsicle optipng libjpeg-progs webp
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
          cache: pip
      - name: Install dependencies
        run: |
          python -Im pip install --upgrade pip opencv-python-headless
          python -Im pip install -e .[testing]
      - name: Test
        run: coverage run --parallel-mode -m runtests --opencv

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  coverage:
    name: Combine & check coverage.
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_LATEST }}
          cache: pip

      - name: Download coverage data
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage
        run: |
          python -Im pip install coverage
          python -Im coverage combine
          python -Im coverage html --skip-covered --skip-empty

          # Report and write to summary.
          python -Im coverage report | sed 's/^/    /' >> $GITHUB_STEP_SUMMARY

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: htmlcov
          overwrite: true
