name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python: "3.7"
          - python: "3.8"
          - python: "3.9"
          - python: "3.10"
          - python: "3.11"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Pillow Wand
          pip install -e .[testing]
      - name: Test
        run: ./runtests.py
